body {
    color: #262626;
    font-size: larger;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
    letter-spacing: -.1rem;
}

a {
    color: #262626;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

#site-title a {
    text-decoration: none;
}

.card-image a {
    color: #fff;
}