@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Inter:wght@500&display=swap");
body {
    font-family: "Inter", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    color: #0d47a1;
    font-family: "EB Garamond", serif;
}

a {
    color: #0d47a1;
}